<h1 style="color:green">Пользователи</h1>
<b>
<%- @users.each do |user| %>
      <%- if user.about == nil %>
          <p><%= user.first_name%> <%=user.last_name%> -
            <span style="color:saddlebrown">пользователь сука и он не оставил о себе данных</span></p>
      <%- else %>
          <p><%= user.first_name%> <%=user.last_name%> - <span style="color:deeppink"><%=user.about%></span></p>
      <%- end %>
<%-end%>
</b>